/*.form-group{
 font-size: 20px;
 padding:0px;
}*/
.form-control{
 width:98%
 padding:5px;
 outline:none;
 border:none;
 border-radius:5px;
 font-size:15px;
 color:red;
 display:block;
 outline:none;
}
/*
.form-control:focus
{
    box-shadow: 0 0 3px orangered;
}
.button
{
    border:none;
    border-radius: 4px;
    box-shadow: 0 0 4px gray;
    padding:5px 10px;
    outline:none;
}
.button:focus
{
    box-shadow: 0 0 3px orangered;
    color: orangered;
}
.button:disabled
{
    text-decoration: line-through;
}
*/


button
{
    border:1px solid black;
    border-radius: 4px;
    padding:5px 10px;
    outline:none;
    background-color: white;
}

.sign_02{
    color: black;
    float: left;
    margin-left: 30px;
}
.sign_02 form{
    margin-left: 320px;
    background-color: #FFEFD5;
    padding: 30px;
    display: inline-block;
    border-radius: 10px;
}
.sign_02 a{
    text-decoration: none;
}
.sign_02 a.one{
    border-right: 2px solid #34568b;
    padding: 0px 18px;
}
.sign_02 input{
    border: 2px solid orange;
    padding: 10px 20px;
    width: 300px;
}

.check
{
    margin-left: 50px;
}

input[type=checkbox]
{
    margin-left: -300px;
}
input[type=radio]
{
    margin-left: -400px;
}
.check-in
{
    margin-left: 150px;
}
#name{
    text-align: left;
}











/*
.sign_02 button{
    background-color: #34568b;
    color: white;
    box-shadow: 2px 2px 10px darkgray;
    width: 160px;
    height: 40px;
}
.sign_02 button:hover{
    color: #34568b;
    background-color: white;
    border: 2px solid #34568b;
}
.sign_02 a{
    color: #34568b;
}
.sign_02 a:hover{
    color: orange;
    text-decoration: underline;
}
.sign_02 a.link{
    color: gray;
    font-size: 30px;
}
.sign_02 a.link:hover{
    color: black;
}
*/

/*
.form-group
{
 margin:10 pixel 0 pixel;
}
.form-control
{
 width:98%;
 padding:5 pixel;

 outline:none;
 border:1 pixel solid gray;
 border-radius:3 pixel;
}
.form-group label
{
 font-weight:bold;
 font-variant:small-caps;
}
.form-control:focus
{
 background-color:yellow;
 box-shadow:0 0 3 pixel red;
 border:1 pixel solid yellow;
}
.form-button
{
 padding:8 pixel 30 pixel;
 outline:none;
 border:none;
 border-radius:20 pixel;
 font-weight:bold;
 background-color:white;
 color:orangered;
 box-shadow:inset 0 0 20 pixel blue;
}
 .form-button:hover
 {
color:blue
 box-shadow:inset 0 0 20 pixel orangered
}
 .form-button:disabled
 {
 color:darkgray
 box-shadow:inset 0 0 20 pixel gray
}
*/